
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" id="bacground">
  <div class="carousel-indicators">
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://host-students.com/app/uploads/2017/11/student-studying-at-desk.png" class="d-block w-100"
        alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h2 style="color: rgb(226, 35, 67);">Welcome To ICTAK Alumni JOb Portal</h2>
        <br>
        <h4 style="color: rgb(248, 248, 248);">The Online Job Portal for ICTAK Alumni</h4>
      </div>
    </div>

  </div>
  <br>
  <div class="container">
    <h3>Jobs</h3>
    <table style="width:100%">
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Age</th>
      </tr>
      <tr>
        <td>Jill</td>
        <td>Smith</td>
        <td>50</td>
      </tr>
      <tr>
        <td>Eve</td>
        <td>Jackson</td>
        <td>94</td>
      </tr>

      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Age</th>
      </tr>
      <tr>
        <td>Jill</td>
        <td>Smith</td>
        <td>50</td>
      </tr>
      <tr>
        <td>Eve</td>
        <td>Jackson</td>
        <td>94</td>
      </tr>
    </table>
  </div>